@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* general */
body{
    margin:0;
    padding: 0;
}

.button {
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    color: #3D3D3D;
    background: #d7d6d6;
    border: #000000;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
}
.button:focus {
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1), 0 0 0 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}
.button:hover {
    color: #f8f8f8;
}

/*login and register*/
.logindiv{
    padding: 20px;
}
.logindiv p{
    margin-bottom: 0;
    margin-top: 20px;
}

/* Nav Bar Css */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    top:0;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #669986;
    color: white;
}

.logout_div {
    margin-left: auto;
}

.logout_form {
    margin-top: 6px;
}

.button_logout {
    margin-right: 10px;
    align-content: center;
    padding: 6px 14px;
    border-radius: 6px;
    color: #3D3D3D;
    background: #d7d6d6;
    border: #000000;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
}
.button_logout:focus {
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1), 0 0 0 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}
.button_logout:hover {
    color: #f8f8f8;
}
.headerHello {
    padding: 80px 30px 30px;
    background-color: gray;
    font-family: 'Poppins', sans-serif;
}


/*product info page*/
.productInfo {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 70px;
}
.title1 {
    color: black;
    font-size: 300%;
}
.title2 {
    color: black;
    font-size: 150%;
}
.textPlain {
    color: black;
    font-size: 100%;
}
.imgProductInfo {
    width:300px;
    height:300px;
}

.wrap-text {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-flex{
    display: flex;
    flex-direction: row;
}


/* Review  Styles*/
.review-text{
    color: dimgray;
}

.review-indent{
    text-indent:30px;
}

.review-mix{
    color: dimgray;
    text-indent:30px;
}

.input-review{
    border-width: 0 0 2px;
    margin-right: 10px;
    width: 310px;
}
.reviewer-name {
    color: #669986;
}

.vendor-name{
    color: #8282f1;
}


/*chat styling*/
.ownwrittenmsg{
    background: rgba(102, 153, 134, .5);
    margin-left: auto; margin-right:10px;
}
.recievedmsg{
    background: rgba(130, 130, 241, .5);
   margin-left:10px;
}


/* Landing Page */
.container-fluid {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

.container-fluid:hover {
    background: rgba(102, 153, 134, .5);
}

div input {
    padding: 6px;
    margin-top: 8px;
    margin-right: 5px;
    font-size: 17px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    border-width: 1px;
}

.col {
    padding: 10px;
}

.link_products {
    text-decoration: none;
}

 /* Css for order page */
.orderTable {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

/* Css for product new */
div .greetings {
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 14px 16px;
}
.formAddNewProduct {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}